<template>
  <div class="about">
    <OriginalNav/>
    <h1>This is an about page</h1>
  </div>
</template>

<script>
// @ is an alias to /src
import OriginalNav from '@/components/OriginalNav.vue'

export default {
  name: 'About',
  components: {
    OriginalNav,
  }
}
</script>
