<template>
  <div class="home">
    <OriginalNav/>
    <img alt="Vue logo" src="../assets/logo.png">
    <HelloWorld msg="Welcome to Your Vue.js App"/>
  </div>
</template>

<script>
// @ is an alias to /src
import HelloWorld from '@/components/HelloWorld.vue'
import OriginalNav from '@/components/OriginalNav.vue'

export default {
  name: 'Home',
  components: {
    HelloWorld,
    OriginalNav,
  }
}
</script>
