<template>
    <div class="todo">
        <table>
            <tr>
                <th align="left" colspan="2"><h1>タスクリスト</h1></th>
            </tr>
            <tr>
                <td valign="top" width="300px">
                    <p>タスク名：<input v-model="privateState.record.name"></p>
                    <p>開始日：&emsp;<input type="datetime-local" v-model="privateState.record.start"></p>
                    <p>期限日：&emsp;<input type="datetime-local" v-model="privateState.record.end"></p>
                    <p>
                        <label>場所</label>
                        <b-form-select 
                            v-model="privateState.record.place" 
                            :options="privateState.placeList" 
                            size="sm" 
                        ></b-form-select>
                    </p>
                    <p>
                        <b-form-group label="優先度">
                            <b-form-radio-group
                                id="priority-radio-group"
                                v-model="privateState.record.priority"
                                :options="privateState.priorityList"
                                name="priority-radio-options"
                            ></b-form-radio-group>
                        </b-form-group>
                    </p>
                    <p>
                        <button v-on:click="onClick">
                            <div v-if="privateState.record.index === null">
                                登録
                            </div>
                            <div v-else>
                                更新
                            </div>
                        </button>
                        <button v-on:click="clearRecord">クリア</button>
                    </p>
                </td>
                <td valign="top">
                    <task-table
                        v-bind:task-list="sharedState.taskList"
                        v-on:on-row-click="onRowClick"
                    ></task-table>
                </td>
            </tr>
        </table>
    </div>
</template>

<script>
import TaskTable from '@/components/todo/TaskTable.vue'
import TodoStore from '@/store/todo/TodoStore.vue'

export default {
    name: 'Todo',

    // 使用するコンポーネントを指定
    components: {
        TaskTable,
    },

    // データ
    data: function() {
        return {
            privateState: {
                // フォームの入力値（画面表示時の初期値を代入している）
                record: {
                    index: null,
                    name: '打ち合わせ',
                    start: '2020-06-01T09:00',
                    end: '2020-06-01T12:00',
                    place: '第一会議室',
                    priority: '高',
                },

                // 場所リスト
                placeList: [
                    '',
                    '第一会議室',
                    '第二会議室',
                    '第三会議室',
                ],

                // 優先度リスト
                priorityList: [
                    '低',
                    '中',
                    '高',
                ],
            },
            sharedState: TodoStore.state,
        };
    },

    // 関数
    methods: {
        // 登録ボタンのクリックイベント
        onClick: function() {
            const me = this;

            // フォームの内容をタスクリストに追加
            TodoStore.setTaskListAction(me.privateState.record);

            // フォームの値をクリア
            me.clearRecord();
        },

        // フォームの値をクリア
        clearRecord: function() {
            this.privateState.record = {
                index: null,
                name: '',
                start: '',
                end: '',
                place: '',
                priority: '中',
            };
        },

        // 行クリックイベント
        onRowClick: function(item, index) {
            // indexに値を追加し、フォームの値を上書き
            this.privateState.record = {
                index: index,
                name: item.name,
                start: item.start,
                end: item.end,
                place: item.place,
                priority: item.priority,
            };
        },
    },
}
</script>